@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';
body {
  background-color: rgba(0, 0, 0, 0.04) !important;
  font-family: 'Open Sans' !important; }

.main {
  margin-top: 70px;
  padding: 0;
  height: 87vh;
  background-color: #FFF; }
  .main.comments-off .picture-wrap {
    width: 100%; }
    .main.comments-off .picture-wrap .title .share {
      right: 30px; }
    .main.comments-off .picture-wrap .title .hide-comments {
      display: inline;
      background-color: #fff;
      background-image: -webkit-linear-gradient(#fff, rgba(0, 0, 0, 0.07));
      background-image: linear-gradient(#fff, rgba(0, 0, 0, 0.07)); }
      .main.comments-off .picture-wrap .title .hide-comments:hover {
        background-color: #fff;
        background-image: -webkit-linear-gradient(#fff, rgba(0, 0, 0, 0.08));
        background-image: linear-gradient(#fff, rgba(0, 0, 0, 0.08)); }
      .main.comments-off .picture-wrap .title .hide-comments:active {
        background-color: #fff;
        background-image: -webkit-linear-gradient(#fff, rgba(0, 0, 0, 0.095));
        background-image: linear-gradient(#fff, rgba(0, 0, 0, 0.095)); }
  .main.comments-off .comments-wrap {
    width: 0;
    opacity: 0;
    overflow: hidden;
    max-height: 100%;
    height: 100%; }

.box {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.subpage {
  margin-top: 70px;
  margin-bottom: 20px; }
  .subpage .inside {
    width: 100%;
    float: left; }
    .subpage .inside header {
      width: 100%;
      float: left;
      margin: 0 0px;
      padding: 0 0px 10px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
      padding: 9px 15px;
      position: relative;
      z-index: 12;
      height: 40px; }
      .subpage .inside header p {
        float: left;
        margin: 0;
        padding: 0;
        font-size: 1.1em;
        font-weight: 500; }
    .subpage .inside .content {
      width: 100%;
      float: left;
      background-color: #FFF;
      padding: 10px; }
      .subpage .inside .content p {
        float: left;
        margin: 0;
        padding: 0;
        font-size: 0.95em;
        line-height: 1.7em;
        color: rgba(0, 0, 0, 0.8); }

.hide-comments {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  cursor: pointer !important;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: 100ms all ease-in-out;
  -moz-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out; }
  @media (max-width: 767px) and (min-width: 641px) {
    .hide-comments {
      display: none; } }
  @media (max-width: 640px) and (min-width: 481px) {
    .hide-comments {
      display: none; } }
  @media (max-width: 480px) {
    .hide-comments {
      display: none; } }
  .hide-comments:hover {
    background-color: transparent !important;
    background-color: #fff;
    background-image: -webkit-linear-gradient(#fff, rgba(0, 0, 0, 0.07));
    background-image: linear-gradient(#fff, rgba(0, 0, 0, 0.07));
    border-left: 1px solid rgba(0, 0, 0, 0.1); }
  .hide-comments:active {
    background-color: transparent !important;
    background-color: #fff;
    background-image: -webkit-linear-gradient(#fff, rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(#fff, rgba(0, 0, 0, 0.1));
    border-left: 1px solid rgba(0, 0, 0, 0.1); }
  .hide-comments i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.1em;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.dodaj .inside {
  width: 100%;
  float: left; }
  .dodaj .inside header {
    width: 100%;
    float: left;
    margin: 0 0px;
    padding: 0 0px 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    padding: 9px 15px;
    position: relative;
    z-index: 12;
    height: 40px; }
    .dodaj .inside header p {
      float: left;
      margin: 0;
      padding: 0;
      font-size: 1.1em;
      font-weight: 500; }
  .dodaj .inside .content {
    width: 100%;
    float: left;
    background-color: #FFF;
    padding: 10px; }
    .dodaj .inside .content p {
      float: left;
      margin: 0;
      padding: 0;
      font-size: 0.95em;
      line-height: 1.7em;
      color: rgba(0, 0, 0, 0.8); }

.profil {
  min-height: 500px; }
  .profil .content {
    min-height: 500px; }
  .profil .top {
    width: 100%;
    float: left;
    height: 250px;
    position: relative; }
  .profil .header {
    position: absolute;
    width: calc(100% + 20px);
    height: 100%;
    top: -10px;
    left: -10px;
    background: url(../img/profile-header.jpeg);
    background-position: center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    .profil .header:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 5; }
    .profil .header .center {
      width: 200px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 10; }
      .profil .header .center img {
        height: 100px;
        width: 100px;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        border: 3px solid #fff;
        margin: 0 auto;
        display: block; }
      .profil .header .center h3 {
        color: #FFF;
        text-align: center; }
        .profil .header .center h3 i {
          font-size: 0.6em;
          position: absolute;
          color: rgba(255, 255, 255, 0.9);
          -webkit-transform: translate(6px, 0px);
          -moz-transform: translate(6px, 0px);
          -ms-transform: translate(6px, 0px);
          -o-transform: translate(6px, 0px);
          transform: translate(6px, 0px);
          cursor: pointer; }
          .profil .header .center h3 i:hover {
            color: #FFF; }
      .profil .header .center .status {
        width: 100%;
        float: left;
        text-align: center;
        color: rgba(255, 255, 255, 0.7);
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }
    .profil .header .meni {
      position: absolute;
      bottom: -40px;
      left: 0;
      width: 100%;
      height: 40px;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      background-color: rgba(0, 0, 0, 0.04);
      box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.07); }
      .profil .header .meni li {
        float: left;
        list-style: none;
        text-align: center; }
        @media (max-width: 767px) and (min-width: 641px) {
          .profil .header .meni li {
            width: 33.333%;
            font-size: 0.9em; }
            .profil .header .meni li a {
              padding: 10px 5px; }
            .profil .header .meni li span {
              display: none; } }
        @media (max-width: 640px) and (min-width: 481px) {
          .profil .header .meni li {
            width: 33.333%;
            font-size: 0.9em; }
            .profil .header .meni li a {
              padding: 10px 5px; }
            .profil .header .meni li span {
              display: none; } }
        @media (max-width: 480px) {
          .profil .header .meni li {
            width: 33.333%;
            font-size: 0.9em; }
            .profil .header .meni li a {
              padding: 10px 5px; }
            .profil .header .meni li span {
              display: none; } }
        .profil .header .meni li.active a {
          color: #E1464B;
          font-weight: 600;
          box-shadow: 0 -2px 0 0 #E1464B inset; }
          .profil .header .meni li.active a:hover {
            color: #E1464B;
            box-shadow: 0 -2px 0 0 #E1464B inset; }
        .profil .header .meni li a {
          width: 100%;
          float: left;
          padding: 10px 20px;
          text-decoration: none;
          color: rgba(0, 0, 0, 0.5);
          -webkit-transition: 150ms all ease-in-out;
          -moz-transition: 150ms all ease-in-out;
          transition: 150ms all ease-in-out; }
          .profil .header .meni li a:hover {
            color: rgba(0, 0, 0, 0.8);
            box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.4) inset; }
  .profil .profil-content {
    width: 100%;
    float: left;
    margin-top: 35px; }
    .profil .profil-content .posts-grid {
      width: 100%;
      float: left;
      margin: 0;
      padding: 0;
      list-style: none;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .profil .profil-content .posts-grid li {
        height: 200px;
        width: 33.333%;
        float: left;
        position: relative;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 10px; }
        @media (min-width: 768px) and (max-width: 991px) {
          .profil .profil-content .posts-grid li {
            width: 50%;
            height: 250px; } }
        @media (max-width: 767px) and (min-width: 641px) {
          .profil .profil-content .posts-grid li {
            width: 50%;
            height: 250px; } }
        @media (max-width: 640px) and (min-width: 481px) {
          .profil .profil-content .posts-grid li {
            width: 50%;
            height: 250px; } }
        @media (max-width: 480px) {
          .profil .profil-content .posts-grid li {
            width: 100%;
            height: 300px; } }
        .profil .profil-content .posts-grid li .preview {
          position: absolute;
          width: calc(100% - 10px);
          height: calc(100% - 10px);
          top: 5px;
          left: 5px;
          -webkit-background-size: cover !important;
          -o-background-size: cover !important;
          background-size: cover !important; }
          .profil .profil-content .posts-grid li .preview:hover .title {
            opacity: 1; }
          .profil .profil-content .posts-grid li .preview .title {
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.2);
            width: 100%;
            height: 70px;
            background-color: transparent;
            background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.6));
            background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
            padding: 40px 10px 0px;
            opacity: 0;
            -webkit-transition: 100ms all ease-in-out;
            -moz-transition: 100ms all ease-in-out;
            transition: 100ms all ease-in-out; }
            .profil .profil-content .posts-grid li .preview .title p {
              width: 100%;
              display: inline-block;
              max-width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-wrap: normal;
              color: #FFF;
              margin: 0;
              padding: 0;
              text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .profil .sidebar .content .profil-nagrade {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none; }
    .profil .sidebar .content .profil-nagrade li {
      width: 50%;
      float: left;
      padding: 20px;
      text-align: center;
      position: relative; }
      .profil .sidebar .content .profil-nagrade li:hover .share {
        opacity: 1; }
      .profil .sidebar .content .profil-nagrade li .share {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        -webkit-transition: 200ms all ease-in-out;
        -moz-transition: 200ms all ease-in-out;
        transition: 200ms all ease-in-out; }
        .profil .sidebar .content .profil-nagrade li .share p {
          text-align: center;
          color: #FFF;
          font-size: 1.3em;
          padding-top: 50px;
          width: 100%;
          float: left; }
        .profil .sidebar .content .profil-nagrade li .share .moznosti {
          width: 100%;
          list-style: none;
          padding: 0;
          float: left;
          padding: 0 15%;
          margin-top: 6px; }
          .profil .sidebar .content .profil-nagrade li .share .moznosti li {
            width: 45%;
            height: 50px;
            float: left;
            text-align: center;
            font-size: 2em;
            background-color: rgba(255, 255, 255, 0.9);
            position: relative;
            cursor: pointer;
            -webkit-transition: 200ms all ease-in-out;
            -moz-transition: 200ms all ease-in-out;
            transition: 200ms all ease-in-out; }
            .profil .sidebar .content .profil-nagrade li .share .moznosti li:hover {
              box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.7);
              background-color: #fff; }
            .profil .sidebar .content .profil-nagrade li .share .moznosti li:first-child {
              float: left; }
            .profil .sidebar .content .profil-nagrade li .share .moznosti li:last-child {
              float: right; }
            .profil .sidebar .content .profil-nagrade li .share .moznosti li a {
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
            .profil .sidebar .content .profil-nagrade li .share .moznosti li.fb a {
              padding: 0;
              margin: 0;
              color: #3b5998; }
            .profil .sidebar .content .profil-nagrade li .share .moznosti li.messenger a {
              padding: 0;
              margin: 0;
              text-align: center; }
              .profil .sidebar .content .profil-nagrade li .share .moznosti li.messenger a img {
                float: left;
                margin-top: 14px;
                width: 20px;
                height: 20px; }
      .profil .sidebar .content .profil-nagrade li img {
        width: 100px;
        height: 100px;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        margin-bottom: 15px; }
      .profil .sidebar .content .profil-nagrade li p {
        float: left;
        width: 100%; }
      .profil .sidebar .content .profil-nagrade li small {
        float: left;
        width: 100%;
        font-size: 0.7em;
        color: rgba(0, 0, 0, 0.6); }

#chatter {
  margin-top: 51px;
  float: left;
  width: 100%; }
  #chatter .chatter_container {
    display: block;
    margin-top: 40px; }
  #chatter .chatter_middle .ago:hover {
    text-decoration: underline; }
  #chatter .chatter_middle .chatter_body img {
    max-width: 100%; }
  #chatter .chatter_middle .chatter_body .podpis {
    width: 100%;
    float: left;
    margin-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 0 0;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9em; }
  #chatter #new_discussion_btn {
    background-color: #E1464B;
    color: #FFF;
    border-radius: 3px;
    padding: 10px 0; }
    #chatter #new_discussion_btn:hover {
      background-color: #e4585c; }

.social-login {
  width: 100%;
  float: left;
  padding: 0;
  list-style: none; }
  .social-login li.facebook a {
    background-color: #3b5998; }
    .social-login li.facebook a:hover {
      background-color: #344e86; }
  .social-login li.google a {
    background-color: #ea4335; }
    .social-login li.google a:hover {
      background-color: #e82e1e; }
  .social-login li a {
    width: 100%;
    float: left;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    text-decoration: none; }
    .social-login li a i {
      margin-right: 10px;
      font-size: 1.2em; }

.navbar.navbar-default {
  background-color: rgba(0, 0, 0, 0.85);
  border-color: transparent !important; }

.navbar .container {
  position: relative; }

.navbar .navbar-brand {
  color: #fff !important;
  background-color: #E1464B;
  position: absolute;
  left: 10px;
  margin: 0px 0 0 0;
  padding: 8px 15px;
  width: 110px;
  height: 60px;
  overflow: hidden;
  font-size: 1.5em;
  -webkit-transition: 100ms all ease-in-out;
  -moz-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out; }
  @media (max-width: 767px) and (min-width: 641px) {
    .navbar .navbar-brand {
      height: 51px;
      width: 100px;
      left: 0;
      font-size: 1.2em;
      padding: 5px 15px; } }
  @media (max-width: 640px) and (min-width: 481px) {
    .navbar .navbar-brand {
      height: 51px;
      width: 100px;
      left: 0;
      font-size: 1.2em;
      padding: 5px 15px; } }
  @media (max-width: 480px) {
    .navbar .navbar-brand {
      height: 51px;
      width: 100px;
      left: 0;
      font-size: 1.2em;
      padding: 5px 15px; } }
  .navbar .navbar-brand:hover {
    background-color: #e03d42;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3); }
  .navbar .navbar-brand span {
    width: 100%;
    float: left;
    font-weight: 800;
    text-shadow: 1px 1px #bc1e24, 2px 2px #bc1e24, 3px 3px #bc1e24, 4px 4px #bc1e24, 5px 5px #bc1e24, 6px 6px #bc1e24, 7px 7px #bc1e24, 8px 8px #bc1e24, 9px 9px #bc1e24, 10px 10px #bc1e24, 11px 11px #bc1e24, 12px 12px #bc1e24, 13px 13px #bc1e24, 14px 14px #bc1e24, 15px 15px #bc1e24, 16px 16px #bc1e24, 17px 17px #bc1e24, 18px 18px #bc1e24, 19px 19px #bc1e24, 20px 20px #bc1e24;
    margin-bottom: 3px; }

.navbar .menu-levo {
  margin-left: 100px; }

@media (max-width: 767px) and (min-width: 641px) {
  .navbar .navbar-collapse {
    border-color: transparent;
    box-shadow: none; } }

@media (max-width: 640px) and (min-width: 481px) {
  .navbar .navbar-collapse {
    border-color: transparent;
    box-shadow: none; } }

@media (max-width: 480px) {
  .navbar .navbar-collapse {
    border-color: transparent;
    box-shadow: none; } }

@media (max-width: 767px) and (min-width: 641px) {
  .navbar .navbar-nav {
    margin-left: 0;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    float: left; } }

@media (max-width: 640px) and (min-width: 481px) {
  .navbar .navbar-nav {
    margin-left: 0;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    float: left; } }

@media (max-width: 480px) {
  .navbar .navbar-nav {
    margin-left: 0;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    float: left; } }

.navbar .navbar-nav li.active a {
  background-color: transparent;
  color: #FFF; }
  .navbar .navbar-nav li.active a:hover {
    background-color: transparent;
    color: #FFF; }
  .navbar .navbar-nav li.active a:active {
    color: #FFF; }
  .navbar .navbar-nav li.active a:focus {
    color: #FFF; }

.navbar .navbar-nav li a:hover {
  color: rgba(255, 255, 255, 0.8); }

.navbar .navbar-nav li a:active {
  color: #FFF !important; }

.navbar .navbar-nav li a:focus {
  color: #FFF !important; }

.navbar .navbar-nav li.dropdown.open a {
  background-color: transparent; }

.navbar .navbar-nav li.dropdown a {
  color: rgba(255, 255, 255, 0.8); }
  .navbar .navbar-nav li.dropdown a:hover {
    color: #FFF; }

.navbar .navbar-nav li.dropdown .dropdown-menu {
  padding: 0;
  margin: 0; }
  @media (max-width: 767px) and (min-width: 641px) {
    .navbar .navbar-nav li.dropdown .dropdown-menu {
      background-color: #FFF; } }
  @media (max-width: 640px) and (min-width: 481px) {
    .navbar .navbar-nav li.dropdown .dropdown-menu {
      background-color: #FFF; } }
  @media (max-width: 480px) {
    .navbar .navbar-nav li.dropdown .dropdown-menu {
      background-color: #FFF; } }
  .navbar .navbar-nav li.dropdown .dropdown-menu li a {
    color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    text-align: center; }
    .navbar .navbar-nav li.dropdown .dropdown-menu li a:hover {
      color: rgba(0, 0, 0, 0.85);
      background-color: rgba(0, 0, 0, 0.05); }
    .navbar .navbar-nav li.dropdown .dropdown-menu li a i {
      font-size: 1.1em;
      margin-right: 5px; }

.navbar .dodaj .button {
  background-color: #E1464B;
  height: 35px;
  color: #FFF;
  margin-top: 8px;
  position: relative;
  text-align: center;
  width: 170px;
  cursor: pointer;
  overflow: hidden; }
  @media (max-width: 767px) and (min-width: 641px) {
    .navbar .dodaj .button {
      width: 100%;
      height: 45px; } }
  @media (max-width: 640px) and (min-width: 481px) {
    .navbar .dodaj .button {
      width: 100%;
      height: 45px; } }
  @media (max-width: 480px) {
    .navbar .dodaj .button {
      width: 100%;
      height: 45px; } }
  .navbar .dodaj .button:hover p {
    opacity: 0; }
  .navbar .dodaj .button:hover .chose {
    opacity: 1; }
    .navbar .dodaj .button:hover .chose a.dodaj {
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px); }
    .navbar .dodaj .button:hover .chose a.ustvari {
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px); }
  .navbar .dodaj .button p {
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 100ms all ease-in-out;
    -moz-transition: 100ms all ease-in-out;
    transition: 100ms all ease-in-out; }
  .navbar .dodaj .button .chose {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0; }
    .navbar .dodaj .button .chose a {
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      text-align: center;
      padding-top: 9px;
      text-decoration: none;
      color: #FFF;
      font-size: 0.8em;
      font-weight: 600;
      cursor: pointer;
      -webkit-transition: 200ms all ease-in-out;
      -moz-transition: 200ms all ease-in-out;
      transition: 200ms all ease-in-out; }
      @media (max-width: 767px) and (min-width: 641px) {
        .navbar .dodaj .button .chose a {
          padding-top: 15px; } }
      @media (max-width: 640px) and (min-width: 481px) {
        .navbar .dodaj .button .chose a {
          padding-top: 15px; } }
      @media (max-width: 480px) {
        .navbar .dodaj .button .chose a {
          padding-top: 15px; } }
      .navbar .dodaj .button .chose a i {
        margin-right: 4px; }
      .navbar .dodaj .button .chose a:hover {
        background-color: #e55c60; }
      .navbar .dodaj .button .chose a.dodaj {
        right: 0;
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -o-transform: translateY(-50px);
        transform: translateY(-50px); }
      .navbar .dodaj .button .chose a.ustvari {
        left: 0;
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
        transform: translateY(50px); }

.picture-wrap {
  position: relative;
  height: 100%;
  z-index: 20;
  -webkit-transition: 200ms width ease-in-out;
  -moz-transition: 200ms width ease-in-out;
  transition: 200ms width ease-in-out; }
  @media (max-width: 767px) and (min-width: 641px) {
    .picture-wrap {
      height: 90vh; } }
  @media (max-width: 640px) and (min-width: 481px) {
    .picture-wrap {
      height: 90vh; } }
  @media (max-width: 480px) {
    .picture-wrap {
      height: 90vh; } }
  .picture-wrap .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    padding: 10px;
    z-index: 12; }
    .picture-wrap .title .admin-functions {
      width: 80px;
      height: 100%;
      float: left;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      -webkit-box-align: stretch;
      -moz-box-align: stretch;
      box-align: stretch;
      -webkit-align-items: stretch;
      -moz-align-items: stretch;
      -ms-align-items: stretch;
      -o-align-items: stretch;
      align-items: stretch;
      -ms-flex-align: stretch;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      flex-direction: row;
      -ms-flex-direction: row;
      -webkit-box-pack: start;
      -moz-box-pack: start;
      box-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      -o-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: start; }
      .picture-wrap .title .admin-functions a {
        width: 100%;
        float: left;
        position: relative;
        height: 100%;
        position: absolute;
        cursor: pointer;
        color: #fff; }
      .picture-wrap .title .admin-functions .edit-button, .picture-wrap .title .admin-functions .delete-button {
        height: 100%;
        position: relative;
        -webkit-box-flex: 2;
        -moz-box-flex: 2;
        box-flex: 2;
        -webkit-flex: 2;
        -moz-flex: 2;
        -ms-flex: 2;
        flex: 2; }
      .picture-wrap .title .admin-functions .edit-button:hover {
        background-color: rgba(0, 0, 0, 0.07); }
      .picture-wrap .title .admin-functions .delete-button {
        background-color: rgba(200, 10, 20, 0.8);
        color: #fff; }
        .picture-wrap .title .admin-functions .delete-button:hover {
          background-color: #c80a14; }
      .picture-wrap .title .admin-functions i {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .picture-wrap .title .votes {
      width: 70px;
      height: 30px;
      background-color: #E1464B;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      color: #fff;
      font-weight: 600;
      padding: 5px 0;
      position: absolute;
      text-align: center;
      top: 50%;
      text-align: center;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media (max-width: 767px) and (min-width: 641px) {
        .picture-wrap .title .votes {
          width: 60px; } }
      @media (max-width: 640px) and (min-width: 481px) {
        .picture-wrap .title .votes {
          width: 60px; } }
      @media (max-width: 480px) {
        .picture-wrap .title .votes {
          width: 60px;
          font-size: 0.9em;
          padding: 6px 0 0; } }
      .picture-wrap .title .votes i {
        margin-right: 4px;
        font-size: 1em; }
      .picture-wrap .title .votes .no-votes {
        width: 20px;
        height: 15px;
        display: block;
        background-color: rgba(255, 255, 255, 0.3); }
    .picture-wrap .title h2 {
      position: absolute;
      width: calc(100% - 100px - 80px);
      display: inline-block;
      max-width: calc(100% - 100px - 90px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
      margin: 0;
      padding: 0;
      font-size: 1.2em;
      top: 50%;
      left: 90px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media (min-width: 768px) and (max-width: 991px) {
        .picture-wrap .title h2 {
          width: calc(100% - 100px);
          display: inline-block;
          max-width: calc(100% - 100px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: normal;
          left: 85px; } }
      @media (max-width: 767px) and (min-width: 641px) {
        .picture-wrap .title h2 {
          width: calc(100% - 100px);
          display: inline-block;
          max-width: calc(100% - 100px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: normal;
          left: 80px; } }
      @media (max-width: 640px) and (min-width: 481px) {
        .picture-wrap .title h2 {
          width: calc(100% - 100px);
          display: inline-block;
          max-width: calc(100% - 100px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: normal;
          left: 80px; } }
      @media (max-width: 480px) {
        .picture-wrap .title h2 {
          width: calc(100% - 100px);
          display: inline-block;
          max-width: calc(100% - 100px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: normal;
          left: 80px; } }
      .picture-wrap .title h2 span {
        width: 150px;
        height: 20px;
        background-color: rgba(0, 0, 0, 0.1);
        float: left;
        display: block; }
    .picture-wrap .title .hide-comments {
      display: none; }
  .picture-wrap .bottom-bar {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 50;
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.1); }
    .picture-wrap .bottom-bar .infos {
      height: 100%;
      position: relative;
      float: left; }
      @media (min-width: 1200px) {
        .picture-wrap .bottom-bar .infos {
          width: 40%;
          display: inline; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        .picture-wrap .bottom-bar .infos {
          width: 40%;
          display: inline; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .picture-wrap .bottom-bar .infos {
          width: 40%;
          display: inline; } }
      @media (max-width: 767px) and (min-width: 641px) {
        .picture-wrap .bottom-bar .infos {
          display: none; } }
      @media (max-width: 640px) and (min-width: 481px) {
        .picture-wrap .bottom-bar .infos {
          display: none; } }
      @media (max-width: 480px) {
        .picture-wrap .bottom-bar .infos {
          display: none; } }
      .picture-wrap .bottom-bar .infos ul.quick-info {
        width: 100%;
        height: 100%;
        position: relative;
        float: left;
        padding: 0;
        margin: 0;
        list-style: none;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        box-align: stretch;
        -webkit-align-items: stretch;
        -moz-align-items: stretch;
        -ms-align-items: stretch;
        -o-align-items: stretch;
        align-items: stretch;
        -ms-flex-align: stretch;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;
        -ms-flex-direction: row;
        -webkit-box-pack: start;
        -moz-box-pack: start;
        box-pack: start;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
        -o-justify-content: flex-start;
        justify-content: flex-start;
        -ms-flex-pack: start; }
        .picture-wrap .bottom-bar .infos ul.quick-info li {
          -webkit-box-flex: 1;
          -moz-box-flex: 1;
          box-flex: 1;
          -webkit-flex: 1;
          -moz-flex: 1;
          -ms-flex: 1;
          flex: 1;
          position: relative;
          height: 100%;
          float: left; }
          .picture-wrap .bottom-bar .infos ul.quick-info li p {
            margin: 0;
            padding: 0;
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            text-align: center;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            font-size: 0.9em;
            color: rgba(0, 0, 0, 0.5); }
            .picture-wrap .bottom-bar .infos ul.quick-info li p i {
              font-size: 1em;
              margin-right: 5px; }
    .picture-wrap .bottom-bar ul.sharing {
      float: right;
      position: relative;
      height: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      -webkit-box-align: stretch;
      -moz-box-align: stretch;
      box-align: stretch;
      -webkit-align-items: stretch;
      -moz-align-items: stretch;
      -ms-align-items: stretch;
      -o-align-items: stretch;
      align-items: stretch;
      -ms-flex-align: stretch;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      flex-direction: row;
      -ms-flex-direction: row;
      -webkit-box-pack: start;
      -moz-box-pack: start;
      box-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      -o-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: start; }
      @media (min-width: 1200px) {
        .picture-wrap .bottom-bar ul.sharing {
          width: 35%; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        .picture-wrap .bottom-bar ul.sharing {
          width: 35%; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .picture-wrap .bottom-bar ul.sharing {
          width: 35%; } }
      @media (max-width: 767px) and (min-width: 641px) {
        .picture-wrap .bottom-bar ul.sharing {
          width: 100%; } }
      @media (max-width: 640px) and (min-width: 481px) {
        .picture-wrap .bottom-bar ul.sharing {
          width: 100%; } }
      @media (max-width: 480px) {
        .picture-wrap .bottom-bar ul.sharing {
          width: 100%; } }
      .picture-wrap .bottom-bar ul.sharing li {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        position: relative;
        height: 100%;
        float: left;
        cursor: pointer; }
        .picture-wrap .bottom-bar ul.sharing li.facebook {
          background-color: #3b5998; }
          .picture-wrap .bottom-bar ul.sharing li.facebook:hover {
            background-color: #344e86; }
          .picture-wrap .bottom-bar ul.sharing li.facebook a {
            color: #fff; }
            .picture-wrap .bottom-bar ul.sharing li.facebook a i {
              float: left;
              font-size: 1.2em;
              margin-right: 10px;
              margin-top: 2px; }
        .picture-wrap .bottom-bar ul.sharing li.messenger {
          background-color: #0084ff; }
          @media (min-width: 1200px) {
            .picture-wrap .bottom-bar ul.sharing li.messenger {
              display: none; } }
          @media (min-width: 992px) and (max-width: 1199px) {
            .picture-wrap .bottom-bar ul.sharing li.messenger {
              display: none; } }
          @media (min-width: 768px) and (max-width: 991px) {
            .picture-wrap .bottom-bar ul.sharing li.messenger {
              display: none; } }
          @media (max-width: 767px) and (min-width: 641px) {
            .picture-wrap .bottom-bar ul.sharing li.messenger {
              display: inline; } }
          @media (max-width: 640px) and (min-width: 481px) {
            .picture-wrap .bottom-bar ul.sharing li.messenger {
              display: inline; } }
          @media (max-width: 480px) {
            .picture-wrap .bottom-bar ul.sharing li.messenger {
              display: inline; } }
          .picture-wrap .bottom-bar ul.sharing li.messenger:hover {
            background-color: #0077e6; }
          .picture-wrap .bottom-bar ul.sharing li.messenger .fb-send {
            position: absolute;
            height: 100% !important;
            width: 100% !important;
            left: 0 !important;
            top: 0 !important;
            z-index: 500; }
          .picture-wrap .bottom-bar ul.sharing li.messenger a {
            color: #fff; }
            .picture-wrap .bottom-bar ul.sharing li.messenger a .inside {
              width: 145px; }
              .picture-wrap .bottom-bar ul.sharing li.messenger a .inside img {
                width: 15px;
                height: 15px;
                float: left;
                margin-right: 10px;
                margin-top: 2px; }
        .picture-wrap .bottom-bar ul.sharing li a {
          float: left;
          width: 100%;
          height: 40px;
          float: left;
          position: relative; }
          .picture-wrap .bottom-bar ul.sharing li a .inside {
            position: absolute;
            width: 140px;
            height: 20px;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
            .picture-wrap .bottom-bar ul.sharing li a .inside p {
              float: left;
              font-size: 0.83em;
              font-weight: 700;
              margin-top: 2px; }
  .picture-wrap .picture {
    width: 100%;
    float: left;
    top: 40px;
    left: 0;
    position: absolute;
    height: calc(100% - 40px);
    background-color: #FFF;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 10; }
    @media (max-width: 767px) and (min-width: 641px) {
      .picture-wrap .picture {
        height: calc(100% - 40px); } }
    .picture-wrap .picture .show-picture {
      position: absolute;
      height: calc(100% - 40px);
      width: 100%;
      top: calc(50% - 0px);
      left: 50%;
      -webkit-transform: translate(-50%, calc(-50% - 20px));
      -moz-transform: translate(-50%, calc(-50% - 20px));
      -ms-transform: translate(-50%, calc(-50% - 20px));
      -o-transform: translate(-50%, calc(-50% - 20px));
      transform: translate(-50%, calc(-50% - 20px));
      -webkit-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat; }
      @media (max-width: 767px) and (min-width: 641px) {
        .picture-wrap .picture .show-picture {
          top: calc(50% + 10px); } }
      @media (max-width: 640px) and (min-width: 481px) {
        .picture-wrap .picture .show-picture {
          top: calc(50% + 10px); } }
      @media (max-width: 480px) {
        .picture-wrap .picture .show-picture {
          top: calc(50% + 10px); } }
    .picture-wrap .picture .empty {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }
      .picture-wrap .picture .empty h3 {
        font-size: 3em;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 20px; }
        @media (max-width: 767px) and (min-width: 641px) {
          .picture-wrap .picture .empty h3 {
            font-size: 2em; } }
        @media (max-width: 640px) and (min-width: 481px) {
          .picture-wrap .picture .empty h3 {
            font-size: 2em; } }
        @media (max-width: 480px) {
          .picture-wrap .picture .empty h3 {
            font-size: 2em; } }
      .picture-wrap .picture .empty h4 {
        font-size: 2em;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.6); }
        @media (max-width: 767px) and (min-width: 641px) {
          .picture-wrap .picture .empty h4 {
            font-size: 1.5em; } }
        @media (max-width: 640px) and (min-width: 481px) {
          .picture-wrap .picture .empty h4 {
            font-size: 1.5em; } }
        @media (max-width: 480px) {
          .picture-wrap .picture .empty h4 {
            font-size: 1.5em; } }
  .picture-wrap .control {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    -webkit-transition: 80ms all ease-in-out;
    -moz-transition: 80ms all ease-in-out;
    transition: 80ms all ease-in-out; }
    @media (max-width: 767px) and (min-width: 641px) {
      .picture-wrap .control {
        padding: 5px 10px;
        font-size: 1.4em; } }
    @media (max-width: 640px) and (min-width: 481px) {
      .picture-wrap .control {
        padding: 5px 10px;
        font-size: 1.4em; } }
    @media (max-width: 480px) {
      .picture-wrap .control {
        padding: 5px 10px;
        font-size: 1.4em; } }
    .picture-wrap .control:hover i {
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
      background-color: #e35358; }
    .picture-wrap .control:active i {
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
      background-color: #e04247; }
    .picture-wrap .control i {
      position: absolute;
      top: 50%;
      background-color: #E1464B;
      font-size: 2em;
      color: #FFF;
      padding: 20px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media (max-width: 767px) and (min-width: 641px) {
        .picture-wrap .control i {
          font-size: 1.6em;
          padding: 15px; } }
      @media (max-width: 640px) and (min-width: 481px) {
        .picture-wrap .control i {
          font-size: 1.4em;
          padding: 10px; } }
      @media (max-width: 480px) {
        .picture-wrap .control i {
          font-size: 1.4em;
          padding: 10px; } }
    .picture-wrap .control.dislike {
      left: 0; }
      .picture-wrap .control.dislike i {
        left: 0; }
    .picture-wrap .control.like {
      right: 0; }
      .picture-wrap .control.like i {
        right: 0; }

.comments-wrap {
  position: relative;
  height: 100%;
  max-height: 100%;
  padding: 0;
  background-color: #FFF;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  opacity: 1;
  -webkit-transition: 200ms all ease-in-out;
  -moz-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out; }
  @media (max-width: 767px) and (min-width: 641px) {
    .comments-wrap {
      height: auto;
      float: left;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      margin-top: 20px; } }
  @media (max-width: 640px) and (min-width: 481px) {
    .comments-wrap {
      height: auto;
      float: left;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      margin-top: 20px; } }
  @media (max-width: 480px) {
    .comments-wrap {
      height: auto;
      float: left;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      margin-top: 20px; } }
  .comments-wrap .comments-header {
    width: 100%;
    float: left;
    margin: 0 0px 10px 0;
    padding: 0 0px 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    padding: 10px 15px;
    position: relative;
    z-index: 12;
    height: 40px; }
    .comments-wrap .comments-header h3 {
      float: left;
      margin: 0;
      padding: 0;
      font-size: 1.2em; }
  .comments-wrap .add-comment {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.07); }
    .comments-wrap .add-comment textarea {
      position: absolute;
      width: 100%;
      max-width: 100%;
      max-height: 100%;
      height: 100%;
      border: none;
      outline: none;
      padding: 10px 60px 10px 15px; }
    .comments-wrap .add-comment button {
      height: 40px;
      width: 40px;
      position: absolute;
      right: 10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      border: none;
      box-shadow: none;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      background-color: #E1464B;
      outline-style: none;
      color: #FFF; }
    .comments-wrap .add-comment .btn {
      outline-style: none; }
      .comments-wrap .add-comment .btn i {
        position: absolute;
        top: 50%;
        left: 52%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
  .comments-wrap .comments {
    position: absolute;
    z-index: 10;
    height: calc(100% - 39px - 60px);
    max-height: calc(100% - 39px - 60px);
    min-height: 200px;
    padding: 5px 0px;
    margin: 0px 0 0;
    list-style: none;
    -ms-overflow-y: auto;
    overflow-y: auto;
    bottom: 60px;
    box-shadow: 10px 0px 10px 0 rgba(0, 0, 0, 0.02) inset;
    width: 100%; }
    @media (max-width: 767px) and (min-width: 641px) {
      .comments-wrap .comments {
        height: auto;
        position: static;
        overflow: visible;
        float: left; } }
    @media (max-width: 640px) and (min-width: 481px) {
      .comments-wrap .comments {
        height: auto;
        position: static;
        overflow: visible;
        float: left; } }
    @media (max-width: 480px) {
      .comments-wrap .comments {
        height: auto;
        position: static;
        overflow: visible;
        float: left; } }
    .comments-wrap .comments .no-comments {
      position: absolute;
      top: 50%;
      width: 100%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      text-align: center;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.4);
      font-size: 0.9em; }
    .comments-wrap .comments .comment {
      width: 100%;
      float: left;
      border-bottom: 1px solid rgba(0, 0, 0, 0.07);
      padding: 10px 15px; }
      .comments-wrap .comments .comment:first-child {
        padding-top: 5px; }
      .comments-wrap .comments .comment:last-child {
        border-bottom: none; }
      .comments-wrap .comments .comment:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.03); }
      .comments-wrap .comments .comment .top {
        width: 100%;
        float: left;
        opacity: 0.8;
        margin-bottom: 5px; }
        .comments-wrap .comments .comment .top p {
          margin: 0;
          padding: 0;
          float: left;
          width: 100%;
          font-size: 0.9em; }
          .comments-wrap .comments .comment .top p a {
            color: #E1464B;
            font-weight: 700; }
            .comments-wrap .comments .comment .top p a:hover {
              color: #dd3036; }
          .comments-wrap .comments .comment .top p small {
            float: right;
            color: rgba(0, 0, 0, 0.6); }
          .comments-wrap .comments .comment .top p .odgovori {
            margin-left: 10px; }
      .comments-wrap .comments .comment .content {
        width: 100%;
        float: left; }
        .comments-wrap .comments .comment .content p {
          width: 100%;
          float: left;
          font-size: 0.9em;
          margin: 0;
          padding: 0; }

.popup-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: none; }
  .popup-wrap .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #E1464B;
    padding: 20px;
    -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    color: #FFF; }
    @media (min-width: 1200px) {
      .popup-wrap .popup {
        width: 400px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .popup-wrap .popup {
        width: 400px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .popup-wrap .popup {
        width: 400px; } }
    @media (max-width: 767px) and (min-width: 641px) {
      .popup-wrap .popup {
        width: 350px; } }
    @media (max-width: 640px) and (min-width: 481px) {
      .popup-wrap .popup {
        width: 350px; } }
    @media (max-width: 480px) {
      .popup-wrap .popup {
        width: 350px; } }
    .popup-wrap .popup h2 {
      margin: 0 0 20px;
      padding: 0;
      text-align: center;
      color: #FFF;
      font-size: 1.7em; }
    .popup-wrap .popup p {
      color: rgba(255, 255, 255, 0.9);
      font-size: 1.13em;
      line-height: 1.4em;
      text-align: center; }
      .popup-wrap .popup p i {
        font-size: 1.4em;
        margin: 0 5px; }
      .popup-wrap .popup p a {
        color: #fff;
        text-decoration: underline;
        font-weight: 700; }
    .popup-wrap .popup .button-zapri {
      width: 100%;
      float: left;
      background-color: transparent;
      border: 2px solid #fff;
      text-align: center;
      padding: 10px 0;
      margin-top: 20px;
      cursor: pointer;
      font-size: 1.3em;
      font-weight: 700; }
      .popup-wrap .popup .button-zapri:hover {
        background-color: #fff;
        color: #E1464B; }
    .popup-wrap .popup .swipe {
      width: 100%;
      float: left;
      list-style: none;
      padding: 0;
      margin: 10px 0 0; }
      .popup-wrap .popup .swipe li {
        width: 48%;
        background-color: #FFF;
        position: relative;
        height: 180px; }
        .popup-wrap .popup .swipe li svg {
          position: absolute;
          top: 40%;
          left: 50%;
          width: 32px;
          height: 32px;
          -webkit-transform: translate(-50%, -50%) scale(2);
          -moz-transform: translate(-50%, -50%) scale(2);
          -ms-transform: translate(-50%, -50%) scale(2);
          -o-transform: translate(-50%, -50%) scale(2);
          transform: translate(-50%, -50%) scale(2); }
        .popup-wrap .popup .swipe li p {
          position: absolute;
          width: 85%;
          bottom: 10px;
          left: 50%;
          -webkit-transform: translate(-50%, 0%);
          -moz-transform: translate(-50%, 0%);
          -ms-transform: translate(-50%, 0%);
          -o-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
          text-align: center;
          color: #E1464B; }
        .popup-wrap .popup .swipe li:first-child {
          float: left; }
        .popup-wrap .popup .swipe li:last-child {
          float: right; }
