#chatter
	margin-top: 51px
	float: left
	width: 100%
	.chatter_container
		display: block
		margin-top: 40px
	.chatter_middle
		.ago
			&:hover
				text-decoration: underline
		.chatter_body
			img
				max-width: 100% 
			.podpis
				width: 100%
				float: left
				margin-top: 10px
				border-top: 1px solid rgba(#000, 0.1)
				padding: 5px 0 0 
				color: rgba(#000, 0.5)
				font-size: 0.9em  
	#new_discussion_btn
		background-color: $main-color
		color: #FFF
		border-radius: 3px
		padding: 10px 0
		&:hover
			background-color: lighten($main-color, 4%)