body
	background-color: rgba(#000, 0.04) !important

.main
	margin-top: 70px
	padding: 0
	height: 87vh
	background-color: #FFF 
	&.comments-off
		.picture-wrap
			width: 100%
			.title
				.share
					right: 30px
				.hide-comments
					display: inline
					+linear-gradient(#fff, rgba(#000, 0.07))
					&:hover
						+linear-gradient(#fff, rgba(#000, 0.08))
					&:active
						+linear-gradient(#fff, rgba(#000, 0.095))
		.comments-wrap
			width: 0
			opacity: 0
			overflow: hidden
.box
	box-shadow:  0 2px 20px 0 rgba(#000, 0.07)
	border: 1px solid rgba(#000, 0.12)
	-webkit-border-radius: 3px 
	border-radius: 3px 
.subpage
	margin-top: 70px
	margin-bottom: 20px
	.inside
		width: 100%
		float: left
		header
			width: 100%
			float: left
			margin: 0 0px
			padding: 0 0px 10px 0
			border-bottom: 1px solid rgba(#000, 0.1)
			box-shadow: 0 5px 10px 0 rgba(#000, 0.05)
			padding: 9px 15px
			position: relative
			z-index: 12
			height: 40px
			p
				float: left
				margin: 0
				padding: 0
				font-size: 1.1em 
				font-weight: 500 
		.content
			width: 100%
			float: left
			background-color: #FFF
			padding: 10px
			p
				float: left
				margin: 0
				padding: 0
				font-size: 0.95em 
				line-height: 1.7em
				color: rgba(#000, 0.8) 
				
.hide-comments
	position: absolute
	top: 0
	right: 0
	height: 100%
	width: 40px
	cursor: pointer !important
	border-left: 1px solid rgba(#000, 0.1)
	+transition(100ms all ease-in-out)
	+breakpoint(xs)
		display: none
	+breakpoint(xxs)
		display: none
	+breakpoint(xxxs)
		display: none
	&:hover
		background-color: transparent !important
		+linear-gradient(#fff, rgba(#000, 0.07))
		border-left: 1px solid rgba(#000, 0.1)
	&:active
		background-color: transparent !important
		+linear-gradient(#fff, rgba(#000, 0.1))
		border-left: 1px solid rgba(#000, 0.1)
	i
		position: absolute
		top: 50%
		left: 50%
		font-size: 1.1em 
		+transform(translate(-50%, -50%))
