.comments-wrap
	position: relative
	height: 100%
	max-height: 100%
	padding: 0
	background-color: #FFF
	border-left: 1px solid rgba(#000, 0.1)
	opacity: 1
	+transition(200ms all ease-in-out)
	+breakpoint(xs)
		height: auto
		float: left
		border-top: 1px solid rgba(#000, 0.1)
		margin-top: 20px
	+breakpoint(xxs)
		height: auto
		float: left
		border-top: 1px solid rgba(#000, 0.1)
		margin-top: 20px
	+breakpoint(xxxs)
		height: auto
		float: left
		border-top: 1px solid rgba(#000, 0.1)
		margin-top: 20px
	.comments-header
		width: 100%
		float: left
		margin: 0 0px 10px 0
		padding: 0 0px 10px 0
		border-bottom: 1px solid rgba(#000, 0.1)
		box-shadow: 0 5px 10px 0 rgba(#000, 0.05)
		padding: 10px 15px
		position: relative
		z-index: 12
		height: 40px
		h3
			float: left
			margin: 0
			padding: 0
			font-size: 1.2em 
	.add-comment
		position: absolute
		width: 100%
		height: 60px
		bottom: 0
		left: 0
		border-top: 1px solid rgba(#000, 0.2)
		box-shadow: 0 -5px 10px 0 rgba(#000, 0.07)
		textarea
			position: absolute
			width: 100%
			max-width: 100%
			max-height: 100% 
			height: 100%
			border: none
			outline: none
			padding: 10px 60px 10px 15px
		button
			+size(40px)
			position: absolute
			right: 10px
			top: 50%
			+transform(translateY(-50%))
			border: none
			box-shadow: none 
			-webkit-border-radius: 100%
			border-radius: 100%
			background-color: $main-color 
			outline-style: none
			color: #FFF 
		.btn
			outline-style: none
			i
				position: absolute
				top: 50%
				left: 52%
				+transform(translate(-50%, -50%))
	.comments
		position: absolute
		z-index: 10
		height: calc(100% - 39px - 60px)
		max-height: calc(100% - 39px - 60px) 
		min-height: 200px
		padding: 5px 0px
		margin: 0px 0 0
		list-style: none
		-ms-overflow-y: auto
		overflow-y: auto
		bottom: 60px
		box-shadow: 10px 0px 10px 0 rgba(#000, 0.02) inset
		width: 100%
		+breakpoint(xs)
			height: auto
			position: static
			overflow: visible
			float: left
		+breakpoint(xxs)
			height: auto
			position: static
			overflow: visible
			float: left
		+breakpoint(xxxs)
			height: auto
			position: static
			overflow: visible
			float: left
		.comment
			width: 100%
			float: left
			border-bottom: 1px solid rgba(#000, 0.07)
			padding: 10px 15px
			&:first-child
				padding-top: 5px
			&:last-child
				border-bottom: none 
			&:nth-child(even)
				background-color: rgba(#000, 0.03) 
			.top
				width: 100%
				float: left
				opacity: 0.8
				margin-bottom: 5px
				p
					margin: 0
					padding: 0
					float: left
					width: 100%
					font-size: 0.9em
					a
						color: $main-color
						font-weight: 700
						&:hover
						 color: darken($main-color, 5%) 
					small
						float: right
						color: rgba(#000, 0.6) 
			.content
				width: 100%
				float: left
				p
					width: 100%
					float: left
					font-size: 0.9em
					margin: 0
					padding: 0 
