.comments-wrap
	position: relative
	height: 100%
	max-height: 100%
	padding: 0
	background-color: #FFF
	border-left: 1px solid rgba(#000, 0.1)
	.comments-header
		width: 100%
		float: left
		margin: 0 0px 10px 0
		padding: 0 0px 10px 0
		border-bottom: 1px solid rgba(#000, 0.1)
		box-shadow: 0 5px 10px 0 rgba(#000, 0.05)
		padding: 10px 15px
		position: relative
		z-index: 12
		height: 40px
		h3
			float: left
			margin: 0
			padding: 0
			font-size: 1.2em 
		.hide-comments
			position: absolute
			top: 0
			right: 0
			height: 100%
			width: 40px
			cursor: pointer
			border-left: 1px solid rgba(#000, 0.1)
			+transition(100ms all ease-in-out)
			&:hover
				background-color: transparent !important
				+linear-gradient(#fff, rgba(#000, 0.07))
				border-left: 1px solid rgba(#000, 0.1)
			&:active
				background-color: transparent !important
				+linear-gradient(#fff, rgba(#000, 0.1))
				border-left: 1px solid rgba(#000, 0.1)
			i
				position: absolute
				top: 50%
				left: 50%
				font-size: 1.1em 
				+transform(translate(-50%, -50%))
	.comments
		position: absolute
		z-index: 10
		height: calc(100% - 39px)
		max-height: calc(100% - 39px) 
		padding: 5px 0px
		margin: 0px 0 0
		list-style: none
		-ms-overflow-y: auto
		overflow-y: auto
		bottom: 0
		box-shadow: 10px 0px 10px 0 rgba(#000, 0.02) inset
		.comment
			width: 100%
			float: left
			border-bottom: 1px solid rgba(#000, 0.07)
			padding: 10px 15px
			&:first-child
				padding-top: 5px
			&:last-child
				border-bottom: none 
			&:nth-child(even)
				background-color: rgba(#000, 0.03) 
			.top
				width: 100%
				float: left
				font-size: 0.8em 
				opacity: 0.8
				margin-bottom: 5px
				p
					margin: 0
					padding: 0
					float: left
					width: 100%
			.content
				width: 100%
				float: left
				p
					width: 100%
					float: left
					font-size: 0.9em
					margin: 0
					padding: 0 
